.listData {
  padding: 1rem;
  background-color: rgb(13, 147, 165);
  color: white;
  display: flex;
  align-items: center;
  margin-top: 5%;
  border-radius: 10px;
  justify-content: space-between;
}